.contact {
  background: url("../../Components/Assets/Contact/herobg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.hero_inner {
  z-index: 99;
  position: relative;
}
